doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-yeti.css')
    link(rel='stylesheet', href='/stylesheets/chartist.min.css')
    link(rel='stylesheet', href='/stylesheets/slider.css')
    link(rel='stylesheet', href='/stylesheets/nodeBoothStyle.css')
    script(src="/javascripts/jquery-3.1.0.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/bootstrap-slider.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/chartist.min.js")
    script(src="/javascripts/skycons.js")
    script(src="/javascripts/hwDataSocket.js")
  body
    block content
